<%= form_for @message do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
  
    <%= f.label :user_name_to %><br />

  <%if @user_to.nil?%>
    <%= f.text_field :user_name_to%><br />
  <%else%>

    <%= f.text_field :user_name_to ,:value=>@user_to%>
  <%end%>
  </div>  
  <div class="field">
    <%= f.label :title %><br />
    <%if !@answer_title.nil?%>
    	<%= f.text_field :title, :value=>"asw:#{@answer_title.title}"%><br />
  	<%else%>
    <%= f.text_field :title %>
    <%end%>
  </div>
  <div class="field">
  	<%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id_from , :value => current_user.id %>
  </div>  
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

   		
<% end %>