<% if message.read == false %>
<div class="display_title2 round2">


	<span class="title_message">
		<% if message.title.length>30%>
				<%= link_to "#{message.title[0..27]}...", message %>  <span class="new">NEW</span>
		<% else%>
				<%= link_to message.title, message %>  <span class="new">NEW</span>
		<%end%>
	</span>
					&nbsp &nbsp sent by
					 <span class="sender">
					 	<%=User.find_by_id(message.user_id_from).name%>
					 </span>
					 &nbsp &nbsp 
				</span class="timestamp">
				 <%= time_ago_in_words(message.created_at) %> ago
				</span>
				<span class="delete">
				 <%= link_to "delete", message, :method => :delete, :confirm => "You sure?",
		                                :title => "Delete #{message.title}" %>               
				</span>
			<checkb><input type="checkbox" name=<%=i%> value=<%= message.id%> id="user_submit" ></checkb>
				
	</div>
<table class="display_content2 round4">

	<tbody>

    <tr>
		<td>
			<% if message.content.length>20%>
				<%=message.content[0..20]%>...<%= link_to "Read More", message  %>
			<% else%>
				<%=message.content%>
			<%end%>
  		</td>
  	</tr>
  	
</table>

<br/>

<% else %>

<div class="display_title2 round2">
	<span class="title_message">
	<% if message.title.length>30%>
				<%= link_to "#{message.title[0..27]}...", message %> 
	<% else%>
				<%= link_to message.title, message %> 
	<%end%>
	</span>
					&nbsp &nbsp sent by
					 <span class="sender">
					 	<%=User.find_by_id(message.user_id_from).name%>
					 </span>
					&nbsp &nbsp 
				</span class="timestamp">
				 <%= time_ago_in_words(message.created_at) %> ago
				</span>
				<span class="delete">
				 <%= link_to "delete", message, :method => :delete, :confirm => "You sure?",
		                                :title => "Delete #{message.title}" %>
		            	           
                              
	</span>

			<checkb><input type="checkbox" name=<%=i%> value=<%= message.id%> id="user_submit" ></checkb>


</div>
<table class="display_content2 round4">

	<tbody>

    <tr>
		<td>
			<% if message.content.length>20%>
				<%=message.content[0..20]%>...<%= link_to "Read More", message  %>
			<% else%>
				<%=message.content%>
			<%end%>
  		</td>
  	</tr>
  	
</table>

<br/>

<% end %>



