<%= render 'shared/menu_inbox'%>
<div class="profile">
<h3><%= @message.title %></h3>
<h5>Posted <%= time_ago_in_words(@message.created_at) %> ago.</h5>
	<table>
		<tr>
		    <td>     
		 		 <p class="scroll"><%= @message.content %></p>

		     </td>
		</tr>
	</table>
	<div>
			<span class="answer_delete">
		    		<%= link_to "New message", new_message_path %>
		    </span>
		    
			<span class="answer_delete">
			<%@nom=User.find_by_id(@message.user_id_from).name%>
		    	<%=link_to "answer", new_message_path+"?user_to=#{@nom}&answer_title=#{@message.id}"%>
			</span>	
			
			
		    <span class="answer_delete">
		    		<%= link_to "delete", @message, :method => :delete, :confirm => "You sure?",
		                                :title => "Delete #{@message.title}" %>
		    </span>
		    
		    <span class="answer_delete">
		    		<%= link_to "Inbox", messages_path %>
		    </span>
	</div>	

</div>	
