<%if params[:search_done].nil?%>
<h1>All users</h1>

  <div class="search">
    <%= render :partial => 'users/search' %>
  </div>
		
<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>


<%else%>

<h1>Result of your search</h1>
	<%@users = User.search params[:search]%>
  <div class="search">
    <%= render :partial => 'users/search' %>
  </div>
  
  <div class="search">
    <%= render @users %>
  </div>
	<%=link_to "Back to full ranking", users_path%>	
<%end%>

