<%if current_user.nil?%>
	<%=link_to "Sign in if you want to add a comment", signin_path%>
<%else%>
<%= form_for @comment do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
    <div class="field">
    <% unless @new==nil %>	
    <%= f.hidden_field :news_id, :value => @new.id %>
    <% end %>
    <% unless @challenge ==nil %>
    <%= f.hidden_field :challenge_id, :value => @challenge.id %>
    <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit "Comment" %>
  </div>
<% end %>
<%end%>
