
<% challenge = Challenge.find(feed_item.challenge_id)%>
<div class="user"><div <% if challenge.personal %> class="display_title4 round2"  <% else %> class="display_title round2"<% end %>>
	<icon><% if challenge.personal %> <%= iconchallenge2 %> <% else %> <%= iconchallenge %> <% end %> </icon>
	<%= link_to challenge.title, challenge %> (<%= "#{challenge.actions}" %> <% if challenge.personal %> <%= iconpoker2 %> <% else %> <%= iconpoker%> <% end %>  <%= "/ #{challenge.actions_required}" %> <% if challenge.personal %> <%= iconpoker2 %> <% else %> <%= iconpoker %> <% end %> ).
		<% if challenge.user_id !=1 %>
  		Challenger: <%=link_to User.find_by_id(challenge.user_id).name, user_path(User.find_by_id(challenge.user_id)) %>.
  		<% else%>
  		No challenger yet.
  		<% end %>
</div>
<table <% if challenge.personal %> class="display_content3 round3" <% else %> class="display_content round3" <% end %>>

	<tbody>

    <tr>
		<td>
			<% if challenge.content.length>201%>
				<%=challenge.content[0..200]%>...<%= link_to "Read More", challenge  %>
			<% else%>
				<%=challenge.content%>
			<%end%>
  		</td>
  		<td >
  			<div class="video">
			<iframe width="200" height="100" src=<%=challenge.videolink %> frameborder="0" allowfullscreen>
			</iframe>
			</div>
  		</td>
  	</tr>
  	
</table>

<br/>