


<div class="display_title round2">

			<% if news.title.length>31%>
			<span class="image_news">
				<ul>
					<li><bouboup><%= news.created_at.year %></bouboup></li>
				    <li><%= Date::MONTHNAMES[news.created_at.month][0..2] %></li>
				    <li><%= news.created_at.day %>	 </li>
				</ul>
				</span>
				<span class="title_news">
			<%= link_to news.title[0..30]+"...", news %>
					</span>	
			<% else%>
			<span class="image_news">
				<ul>
					<li><bouboup><%= news.created_at.year %></bouboup></li>
				    <li><%= Date::MONTHNAMES[news.created_at.month][0..2] %></li>
				    <li><%= news.created_at.day %></li>
				</ul>
				</span>
				<span class="title_news">
					<%= link_to news.title, news %>
				</span>		
			<%end%>

	 <span class="title_user">
			  <%= image_tag("Icons/friends1.gif", :alt => User.find_by_id(news.user_id.to_i).name) %>  by <%=	link_to User.find_by_id(news.user_id.to_i).name, User.find_by_id(news.user_id.to_i) %>
	</span>
</div>
<table class="display_content round3">

	<tbody>

    <tr>
		<td>
			<% if news.content.length>401%>
				<p><%=news.content[0..400]%>...<%= link_to "Read More", news %></p>
			<% else%>
				<p><%=news.content%></p>
			<%end%>
  		</td>
  	</tr>
  	
</table>

<br/>
