<h1><%= @new.title %></h1>

<div class="display_title round2">
	<%= @new.title %><br/>
	  <h4>Posted <%= time_ago_in_words(@new.created_at) %> ago by <%= link_to User.find_by_id(@new.user_id.to_i).name, User.find_by_id(@new.user_id.to_i) %> </h4>
</div>
<table class="display_content round3">

	<tbody>

    <tr>
		<td>
			<p><%= @new.content %>  </p>
  		</td>
  	</tr>
  	
</table>

<h3>Comments</h3>
<% unless @new.comments.empty? %>
        <table class="comments" summary="New comments">
          <%= render @comments %>
        </table>
        <%= will_paginate @comments %>
<% end %>

<h1 class="comments">Anything to add?</h1>
   <%= render 'shared/comment_form' %>
</table>
