<div class="unform">
            <% if current_user!=nil && !@challenge.accepted && !@challenge.personal %>
        <%= form_for @challenge do |f| %>
                <%= render 'shared/error_messages', :object => f.object %>
                <div class="field">
                  <%= f.label :actions_required %><br />
                  <%= f.number_field :actions_required ,:value => @challenge.actions %>
                </div>
                <div class="field">
                  <%= f.hidden_field :accepted , :value=> true %>
                </div>     
                 <div class="field">
                  <%= f.hidden_field :user_id , :value=> current_user.id %>
                </div>            
               <div class="actions">
                 <%= f.submit "Take the challenge !" %>
               </div>
             <% end end %>
</div>   
<div class="unform">   
             <% if current_user!=nil %>
        <%= form_for @challenge do |f| %>
                <%= render 'shared/error_messages', :object => f.object %>
                <div class="field">
                  <%= f.label :actions %><br />
                  <%= f.number_field :actions , :value => "0"%>
                </div>
                <div class="field">
                  <label for="user_password">Password for confirmation</label><br />
                  <input id="user_password" name="user[password]" size="30" type="password" />
                </div>  <br /><br /><br /><br /><br />
               <div class="actions">
                 <%= f.submit "Submit" %>
               </div>
             <% end %>           
            <% end %>  
</div>               
