<%if @visibility=="new"%>
<h1>Challenges without challengers</h1>

<%elsif @visibility=="awaiting"%>
<h1>Challenges with not enough votes</h1>

<%elsif @visibility=="completed"%>
<h1>Completed Challenges</h1>

<%elsif @visibility=="running"%>
<h1>Challenges scheduled</h1>

<%elsif @visibility=="admin"%>
<h1>Challenges to validate</h1>

<%elsif !params[:search_done].nil?%>
<h1>Results of your search</h1>
<%@challenges=Challenge.search(params[:search]).paginate(:page => params[:page],:per_page => 10)%>


<%else%>
<h1>All Challenges</h1>
<%end%>

  <div class="search">
    <%= render :partial => 'challenges/search' %>
  </div>

		<%= render 'form_search' %> <br />
		<%= will_paginate %>
		
			<ul>
  <div class="search">
 <% @challenges.each do |challenge| %>
    <%= render challenge %>
  <% end %>

  </div>

			</ul>
					
		<%= will_paginate %>




