
<h3>View challenge</h3><br />
<h1> <%= @challenge.title %></h1>
<div class="challenge_content">

<p class="scroll"><%= @challenge.content %></p>
Posted <%= time_ago_in_words(@challenge.created_at) %> ago.
</div>
<div class="challenge_content">
<iframe width="300" height="300" src=<%=@challenge.videolink %> frameborder="0" allowfullscreen></iframe>
<div class="adroite">
	<ul>
				      <% if @challengeinit != nil 
				      		@challenge = @challengeinit
				      end %>		
				      <li><strong>Number of views</strong> <%= @challenge.views %></li>
				      <li><strong>Title</strong> <%= @challenge.title %></li>
				      <li><strong>Actions</strong> <%= @challenge.actions %></li>
				      <li><strong>Actions required</strong> <%= @challenge.actions_required %></li>
				      <li><strong>Undertitle</strong> <%= render 'shared/chall_undertitle' %></li>
				      <% if @challenge.accepted || @challenge.personal %>
				      <li><strong>Challenger</strong> <%= link_to User.find_by_id(@challenge.user_id).name, User.find_by_id(@challenge.user_id) %></li>
				      <% end %>  
				      <% if @current_user!=nil %>
				      <li><strong>You have <%= pluralize(current_user.actions,"action") %> left. </strong>  
				      <% end %>  
			</ul>
</div>					 
	 		 <% if current_user!=nil && current_user.id==@challenge.user_id && @challenge.ready && !@challenge.completed %>
             <li> <%= link_to "Challenge completed?", edit_challenge_path(@challenge) %></li> 
         <% end %>
		 <% if current_user!=nil && current_user.id==@challenge.user_id && !@challenge.ready && @challenge.accepted %>
             <li><%= link_to "Take the challenge now", challenge_path(@challenge)+"?challenge=takenow", :method => :put %></li> 
         <% end %>      
         <% if current_user!=nil && current_user.id==@challenge.user_id && !@challenge.ready && !@challenge.accepted %>
             <li><%= link_to "Take the personal challenge NOW !", challenge_path(@challenge)+"?challenge=takenowpersonal", :method => :put %></li> 
         <% end %>        
         <% if current_user!=nil && current_user.admin? %>
           <% if !@challenge.visibility %>
             <li><%= link_to "Make visible", challenge_path(@challenge)+"?challenge=visible" , :method => :put %></li>
           <% end %>  
          <li><%= link_to "delete", @challenge, :method => :delete, :confirm => "You sure?", :title => "Delete #{@challenge.title}" %></li>
          
         <% end %>  <br /> 
 
 
 <% if !@challenge.ready %>
<%= render 'challenge_form_add_actions' %>
    <% end %>
    
<% unless @challenge.followingchallenges.empty?%>
    		<h5>Users following <%= @challenge.title %></h5> 
			 <%= render 'shared/food' %> 
	    <% end %>	    
 

</div>
<table class="what_to_display">	
	<tr>
	  <td>	
		<h3>Comments</h3>
		<% unless !@challenge.visibility || !@challenge.accepted %>
		<% unless @challenge.comments.empty? %>
		        <table class="comments" summary="Challenge comments">
		          <%= render @comments %>
		        </table>
		        <%= will_paginate @comments %>
		<% end %>
		
		<h1 class="comments">Anything to add?</h1>
		   <%= render 'shared/comment_form' %>
		<%end%>
	 </td>	
	</tr>	  
</table>



