 <div class="route-home" id="doc">
      <div id="top-stuff" class="js-topbar">
        <div id="banners" class="js-banners" style="clear:both;">
          
          
           </div>
        <div id="top-bar-outer">
          <div id="top-bar-bg"></div>
          <div id="top-bar">
            <div class="top-bar-inside">
              <div class="static-links">
  <div id="logo">
				  <%= link_to logo, root_path %>
  </div>
  <form id="search-form" class="js-search-form" action="/search" method="GET">
    <span class="glass js-search-action"><i></i></span>
    <input placeholder="Search" name="q" id="search-query" type="text">
  </form>
  <div id="global-nav">
    <ul id="global-actions">
    	
	
 	 		 <% if signed_in? %>
        <li class="active" id="global-nav-home" data-global-action="home"><%= link_to "Home", root_path %></li>
                <li class="active" id="global-nav-home" data-global-action="home"><%= link_to "Challenges", challenges_path %></li>
                        <li class="active" id="global-nav-home" data-global-action="home"><%= link_to "Users", users_path %></li>
                        <% if signed_in? %>	
		 	  <% if current_user.admin? %>
                                <li class="active" id="global-nav-home" data-global-action="home"><%= link_to "Add news", new_news_path %></li>
                                			  <% end %>	
			 <% end %>
        <li id="global-nav-profile" data-global-action="profile"><%= link_to "#{current_user.name}'s profile", current_user %></li>
        <li id="global-nav-messages" data-global-action="messages"><%= link_to inbox, messages_path %></li>
        <li id="global-nav-who_to_follow" data-global-action="who_to_follow"><a href="https://twitter.com/#%21/who_to_follow">Who To Follow</a></li>
   		   <% else %>
   		         <li class="active" id="global-nav-home" data-global-action="home"><a href="https://twitter.com/#%21/">Home</a></li>
    		 	 <li id="global-nav-profile" data-global-action="profile"><%= link_to "Sign in", signin_path %></li>
  			   	<li id="global-nav-messages" data-global-action="messages"><%= link_to "Register", signup_path %> </li> 
  			   	  <li id="global-nav-who_to_follow" data-global-action="who_to_follow"><a href="https://twitter.com/#%21/who_to_follow">Who To Follow</a></li>
  		    <% end %>
  		    </ul>
  </div>
  <div id="sections"></div>
</div>


<div class="active-links">
  
    <a original-title="New Tweet" id="new-tweet" class="js-global-new-tweet">
      <span>New Tweet</span>
    </a><span class="vr">
    </span><span id="session" class="loggedin js-session">
      <a class="profile-links" href="#">
        <img src="Twitter%20_%20Home_files/default_profile_1_normal.png">
      </a>
      <span id="screen-name">
        ThomasBredillet
      </span>&nbsp;<span id="screen-name-dropdown">&nbsp;</span>
      <div class="dropdown">
        <ul class="user-dropdown">
  

  

  
    
      <li><a href="https://twitter.com/settings/account">Settings</a></li>
    

    

    <li><a href="https://support.twitter.com/">Help</a></li>

    

    <li>
      <form id="signout-form" action="/logout" method="POST">
        <a class="signout-button js-signout-button" href="#">Sign out</a>
        <input value="5658b9b41b14a7874a708c4fd1d770dbbd1d8f20" name="authenticity_token" class="authenticity_token" type="hidden">
      </form>
    </li>

    

    
  
</ul>

      </div>
    </span>
  
  
</div>

            </div>
          </div>
          <div id="message-drawer"></div>
        </div>
      </div>




